@font-face {
    font-family: SuisseIntl;
    src: url(fonts/SuisseIntl-Medium.otf);
}

html {
    box-sizing: border-box;
}

body,
h1,
h2,
a,
p,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background: #202127;
    color: #bbb;
    background-size: cover;
}

input {
    color: #bbb;
    background: #202127
}

h1, p {
    text-align: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.header__button {
    padding: 10px;
    color: #bbb;
    border: 2px solid #326666;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.header__button:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.english__caption {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 10px;
}

#engword {
    display: block;
    width: 600px;
    margin: 40px auto 0;
    padding: 5px;
    border: 2px solid #9b9ec4;
    border-radius: 10px;
    text-align: center;
    /* background: #cce6e6; */
    outline: none;
}

#rusword {
    display: block;
    width: 600px;
    margin: 20px auto 0;
    padding: 5px;
    border: 2px solid #9b9ec4;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.button {
    padding: 10px 20px;
    background-color:#0059ff;
    color:  #e8e8e8;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    font-size: 14px;
}

.button:hover {
    background-color: #004ad3; 
}

.button:active {
    background-color: #0040b6;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

#scope {
    text-align: center;
}

#right {
    color: green;
}

#wrong {
    color: red;
}

#percent {
    text-align: center;
}

.regform {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 360px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #9b9ec4;
    border-radius: 10px;
    margin: 0 auto;
}

.regform input {
    width: 300px;
    margin: 10px;
    padding: 3px 5px;
    border: 1px solid #9b9ec4;
    outline: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.regform input:first-child {
    margin-top: 25px;
}

.regform input:last-child {
    margin-bottom: 26px;
}

.footer {
    background-color: #000;
    margin-top: auto;
}

.footer__item {
    padding: 30px;
}

@media(max-width: 500px) {
    body {
        min-height: 93vh;
    }

    h1 {
        font-size: 30px;
    }

    .header__button {
        font-size: 12px;
    }

    #scope {
      font-size: 22px;  
    }

    #rusword, #engword {
        width: 90%;
        font-size: 25px;
    }
}